// Aqui há de vir as variaveis mais importantes pra usar nos componentes.
// aquelas coisas que não convem ficar declarando de novo e de novo.

// TAMANHOS E RESPONSIVIDADE 
$tam-xs-max: 380px;
$tam-sm-max: 750px;
$tam-md-max: 965px;
$tam-lg-max: 4096px; // nem vai ser usado :v

$tam-xs-min: 0;
$tam-sm-min: $tam-xs-max;
$tam-md-min: $tam-sm-max;
$tam-lg-min: $tam-md-max;

// Uma obs:
// Eu pensei em usarmos aqui P M G e GG (padrão de tamanhos BR)
// mas creio que como muita gente usa Bootstrap, Modernizr e Semantic UI essa notação
// já é um padrão mais conhecido.

// GRADE
$num-colunas: 12;