// Aqui há de vir as variaveis mais importantes pra usar nos componentes.
// aquelas coisas que não convem ficar declarando de novo e de novo.

// TAMANHOS E RESPONSIVIDADE 
$tam-xs: 380px;
$tam-sm: 800px;
$tam-md: 1360px;
$tam-lg: 1920px;
$tam-xlg: 8192px;

// GRADE
$num-colunas: 12;